.style_admin_BookList{
    margin-top: 20px;
}

/* btnStyle_book */

.btnStyle_book{
    background-color: black;
    border-color: rgb(44, 43, 43);
    transition: .5s;
    height: 40px;
    color: whitesmoke;
}
.btnStyle_book:hover{
    background: linear-gradient(to right,rgb(75, 9, 58),rgb(112, 31, 31));  
    border-color: rgb(83, 81, 81);
}

